* {
    
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.btn-primary {
    color: #FFFFFF;
    background: #FF900E;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}


/* header styles */
.header {
    background: rgba(255, 144, 14, 0.1);

}

.h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.nav {
    display: flex;
    justify-content: space-around;

}

.nav ul {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.nav li {
    list-style: none;
    margin-top: 25px;
    padding: 15px;


}

.header-section {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.header-section-desc {
    text-align: center;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

.banner-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 50px;
}

/* header style end */


/* features style starts*/
.features {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
}

.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.features-title {
    font-weight: 700;
    font-size: 45px;
}

.features-desc {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}



.features-2 {
    display: flex;
    margin-top: 130px;
    gap: 50px;
}

.features-title-2 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.features-title-2 .features-desc {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.box {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 30px;
}

.btn-big {
    width: 300px;
    height: 150px;
    background: #FF900E;
    border-radius: 8px;
    text-align: center;
    padding-top: 40px;

    color: #FFFFFF;
    margin-top: -110px;
    margin-left: -85px;
}

.big-btn-h {
    margin-top: -2px;
    font-size: 50px;
    font-weight: 700;
}

.big-btn-desc {
    font-size: 20px;
    margin-top: -25px;
}

.img {
    position: relative;
    z-index: -1;
}

/* features styles end */


/* facts style starts */
.section-info {
    margin-top: 130px;
}

.cards {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 100px;

}

.card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 30px;
}

.card h3 {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.card p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}



/* facts style end */


/* sponsors style starts */

.sponsors {
    margin-top: 180px;
    text-align: center;

}

.sponsors .h2 {
    margin-bottom: 24px;
}

.sponsors-img {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

}

/* sponsors style end */

/* footer */
.footer {
    color: #424242;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    background: #FFF4E7;
    border-radius: 8px;
    width: auto;
    height: 100px;
    margin-top: 130px;
}

.footer-text {
    padding-top: 40px;
}

/* footer end */


@media screen and (max-width: 576px) {}